/* 全局样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

a {
    text-decoration: none;
    color: black;
}

/* 基础警告框样式 */
.alert-box {
    position: relative;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    border: 1px solid #f5c6cb;
    background-color: #f8d7da;
    color: #721c24;
}

/* 关闭按钮样式 */
.alert-box .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/* 错误（Error）主题 */
.alert-box.error {
    border: 1px solid #f5c6cb;
    background-color: #f8d7da;
    color: #721c24;
}

.alert-box.error .close-btn {
    color: #721c24;
}

.alert-box.error .close-btn:hover {
    color: #f5c6cb;
}

/* 成功（Success）主题 */
.alert-box.success {
    border: 1px solid #c3e6cb;
    background-color: #d4edda;
    color: #155724;
}

.alert-box.success .close-btn {
    color: #155724;
}

.alert-box.success .close-btn:hover {
    color: #c3e6cb;
}

/* 警告（Warning）主题 */
.alert-box.warning {
    border: 1px solid #ffeeba;
    background-color: #fff3cd;
    color: #856404;
}

.alert-box.warning .close-btn {
    color: #856404;
}

.alert-box.warning .close-btn:hover {
    color: #ffeeba;
}

/* 信息（Info）主题 */
.alert-box.info {
    border: 1px solid #bee5eb;
    background-color: #d1ecf1;
    color: #0c5460;
}

.alert-box.info .close-btn {
    color: #0c5460;
}

.alert-box.info .close-btn:hover {
    color: #bee5eb;
}


/* Flex 容器 */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin: auto 20px;
}

/* 顶部导航栏 */
header {
    background-color: #007acc;
    padding: 10px 0;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* 顶部标题容器 */
.logo-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.logo-container a {
    padding-top: 3px;
}

.logo-container h1 {
    font-size: 1.5em;
    font-weight: bold;
}

.logo-container img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.logo-container img:hover {
    transform: scale(1.1);
}

/* 导航菜单 */
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    padding: 0 10px;
}

nav ul li a {
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
}

/* 主内容区 */
.hero {
    background-color: #e0f7fa;
    padding: 60px 0;
    text-align: center;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

/* 卡片容器 */
.card-container {
    padding: 40px 0;
    background-color: #f4f4f4;
}

.card-container h2 {
    margin: auto 20px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card h3 a {
    color: #007acc;
    font-weight: bold;
}

.card h3 a:hover {
    text-decoration: underline;
}

/* 章节的元数据布局 */
.meta-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9em;
    color: #777;
}

.meta-data span {
    margin-right: 15px;
}

/* 页脚 */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #007acc;
}

footer a:hover {
    text-decoration: underline;
}

/* 响应式设计 */
@media (min-width: 768px) {
    .card-container #subject-list.container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .card-container #chapter-list.container .card {
        text-align: left;
        margin-bottom: 10px;
    }

    .card-container #chapter-list.container .card:hover {
        transform: translateY(-5px);
    }
}

@media (max-width: 767px) {
    .logo-container {
        justify-content: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .card-container .card {
        margin-bottom: 10px;
    }

    .meta-data {
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
        color: #777;
        align-items: flex-start;
    }
}
